footer{
    background-color:rgb(246, 255, 0);
    
}
footer #logo
{
float: left;
height: 80px;
width: 150px;
}



@media (max-width: 576px) {

   
    

    footer {
        padding: 15px; /* Reduce el relleno en pantallas pequeñas */
    }

    footer .col-md-4 {
        margin-bottom: 15px; /* Añade separación entre columnas */
    }

    footer img {
        max-height: 50px; /* Tamaño más pequeño del logo */
    }

    footer .redes a {
        font-size: 1.2rem; /* Reduce el tamaño de los íconos */
    } 
   

    
}
