
#logo{
    width: 70px;
    height: 50px;
}
header ul
{
    list-style: none;
    
}
header ul li {
   margin: 5px; 
   padding: 5px;
}
header ul li a 
{

border-radius: 10px;

}
header ul li a:hover
{
    background-color:rosybrown;
 
}
