
main{
    background-color: whitesmoke;
    padding: 50px;
}
main #visita {
    background-color: #f9f9f9;
    padding: 50px 20px;
    
  }
  
  #hacer {
   
    padding: 50px 20px;
  }

main #hacer {
    ul {
        list-style:none;
        padding-left: 20px; 
    }
    
    li {
        font-size: 18px;
        color: #333; 
        margin: 5px 0; 
    }
}
span{
    font-weight: bold;
}
main #hacer h3
{
color: red;
}


@media (max-width: 768px){  

  
    #hacer {
      display: flex;
      flex-direction: column; /* Organiza los elementos en una columna */
      padding: 10px; /* Ajusta el espaciado para dispositivos pequeños */
    }
  
    #hacer .hacer {
      width: 100%; /* Cada columna ocupa el 100% del ancho */
      margin-bottom: 20px; /* Agrega separación entre las columnas */
    }
  
    #hacer h2 {
      font-size: 1.5rem; /* Ajusta el tamaño del título */
      margin-bottom: 20px; /* Espaciado adicional debajo del título */
    }
  
    #hacer h3 {
      font-size: 1.2rem; /* Ajusta el tamaño de los subtítulos */
    }
  

    /* Secciones de fondo con imágenes */
    .paseo, .cerro, .cucu, .quinta {
        height: auto;
        background-size: cover; /* Ajusta la imagen de fondo */
        min-height: 200px; /* Establece una altura mínima */
    }

    .paseo h3, .cerro h3, .cucu h3, .quinta h3 {
        font-size: 22px;
    }

    .paseo p, .cerro p, .cucu p, .quinta p {
        font-size: 1rem;
        line-height: 1.4;
    }
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .visita .cerro,.quinta,.cucu,.paseo{
    animation: fadeInUp 1s ease-in-out;
    opacity: 0; /* Por defecto no es visible */
  }
  
  .visita .cerro:hover,.cucu:hover,.quinta:hover,.paseo:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
    transition: transform 0.3s ease-in-out;
  }
  .visita img:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
    transition: transform 0.3s ease-in-out;
  }
  
  .visita .cerro,.cucu,.quinta,.paseo {
    opacity: 1;
  }

  /* PASEO COSTANERA*/
  #principal {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
    height: auto; /* Mantiene las proporciones */
    margin-bottom: 20px; /* Añade separación con el texto */
}
.mapa iframe {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width:100%; 
    height:450px;
    border: relative 0;
    margin-bottom: 40px;
}
.grid img {
  margin-bottom: 15px; /* Espaciado adicional entre imágenes */
}

.grid .img-fluid {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para las imágenes */
}



@media (max-width: 768px) {
  #principal {
    min-height: 200px; /* Se ajusta la altura de la imagen para pantallas más pequeñas */
    
}

.row p {
    font-size: 1rem; /* Ajusta el tamaño del texto en pantallas pequeñas */
    margin-bottom: 15px; /* Añade espacio debajo de cada párrafo */
    text-align: justify;
}
  
  
  /* Ajustes para pantallas pequeñas */
  .grid {
      margin-top: 15px; /* Margen superior para separar las imágenes del mapa */
  }

  .grid img {
      margin-bottom: 10px; /* Espaciado inferior adicional entre imágenes */
  }

    /* Ajustar la altura del mapa en dispositivos móviles */
    .mapa iframe {
      width: 100%;
      height: 140px; /* Reduce la altura del mapa en pantallas pequeñas */
  }
}
